@layout LoginLayout
@inherits LayoutComponentBase

<center>
	<div class="col-12 col-md-8 card">
		<div class="col-12 row">
			<p>&nbsp;</p>
		</div>
		<div class="col-12 row">
			<div class="col-12 col-md-6 brdrRgt"  >
				 

				<i class="fa fa-user-o logoIcon" aria-hidden="true"></i>
				<div class="logoTxt">Blazor <span>Demo</span></div>
			</div>
			<div class="col-12 col-md-6 brdrForm"  >
				@Body
			</div>
		</div>
		<div class="col-12 row">
			<p>&nbsp;</p>
		</div>
	</div>
</center>
