@page "/index"
@*@using BlazorAppDemo.Data
	@using Blazored.LocalStorage
	@using System.Security.Claims
	@inject NavigationManager navigationManager
	@inject ILocalStorageService localStorageService
	@inject IAuthorizationService authorizationService*@


<h1>
	@Localizer["Welcome To Blazor Demo"]
</h1>

<div style="border: solid gray; padding: 20px;">
	<img src="img/BlazorAppDemo-architectures.jpg" alt="BlazorAppDemo Architecture" class="centerHomeImg">
</div>

